
:root {
    --swiper-theme-color: #000;
}
.my-slider-1 .swiper {
  width: 100%;
  height: 200px;
  margin-top: 20px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;


  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .swiper-slide img {
  display: block;
  object-fit: cover;
}
  */

.my-slider-1 .swiper-slide > div{
    width: 10px!important;
    border-radius: 100%;
    padding: 10px;
    
}



.my-slider-1 .swiper-slide{
    width: 200px!important;
    direction: rtl;
    margin-top: 20px;
} 