.my-slider-2  .swiper {
  width: 100%;
  height: 100%;
}

.my-slider-2  .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-slider-2   .swiper-slide img {
  display: block;

  width: 100%;
  height: 100%;
  object-fit: fill;
}
