.my-slider-2  .swiper {
  width: 100%;
  height: 500px!important;
  
}

.my-slider-2 .swiper-wrapper{
}

.my-slider-2  .swiper-slide {
  text-align: center;
  font-size: 18px;
  height: 300px!important;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-slider-2   .swiper-slide img {
  display: block;

  width: 100%;
  height: 100%;
  object-fit: contain;
}

.my-slider-2 .swiper-button-next,
.my-slider-2 .swiper-button-prev {
  display: none;
}

.my-slider-2 .swiper-button-next::after, .my-slider-2 .swiper-button-prev::after {
    content: "";
}

.custom-nav button {
  pointer-events: all;
}
