

.mySwiperOffer .swiper {
  width: 100%;
  height: 100%;
}

.mySwiperOffer .swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.mySwiperOffer .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
